.okr-item-header {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.okr-item-object > .bold {
  font-weight: 500;
  font-size: 22px;
  color: rgb(53, 50, 65);
}

.okr-item-header > .light {
  font-size: 18px;
  color: rgba(53, 50, 65,0.8);
}

.okr-item-object-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgba(53, 50, 65,0.6);
}

.okr-item-object-detail > div {
  margin-right: 40px;
}

.okr-kr-content {
  line-height: 28px;
  padding: 10px 0;
  font-size: 16px;
  border-top: 0.1rem solid rgba(215,150,145,0.5);
}
.okr-kr-content > span {
  margin:0 40px 0 20px;
}

.okr-main-functionality {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.okr-main-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.okr-main-search > input {
  width: 30vw;
  height: 100%;
  margin:8px 0;
  padding-left: 4px;
}

.okr-main-search-btn {
  background-color: #d9d0c7 ;
  color: rgb(53, 50, 65);
  border-radius: 8px;
  padding:8px 16px ;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 12px;
}

.okr-main-new {
  background-color:  rgb(53, 50, 65);
  color: #ffffff;
  border-radius: 8px;
  padding:12px 16px ;
  font-weight: bold;
  letter-spacing: 1px;
}